.header__title {
  color: pink;
  transition: .3s;
  //font-family: AlbionicTitul, Arial, Helvetica, sans-serif;

  &:hover {
    color: green;
  }
}

.bg-test {
  height: 300px;
  width: 300px;
  background: url("../img/svg/icon-reload.svg") no-repeat;
  background-size: 100px 100px;
  fill: pink;
}

.svg {
  width: 32px;
  cursor: pointer;
  fill: #ccc;
}