-
    var questionsArr = [
        {
            question: 'Расскажите, чем, на ваш взгляд, отличается хорошая верстка от плохой',
            answer: 'С точки зрения пользователя/nВсе красиво, ничего не мешает взаимодействовать с откликающимся на дейсвия этого пользователя интерфейсом и понятно куда нажимать чтобы получить то, зачем сюда пришел. Ну и быстро надо, нет времени ждать, дел полно/n' +
            'С точки зрения менеджера проекта/nСделано все как по тз, ничего не расходится с макетом.. Ну и о пользователе менеджер, наверно, должен думать, так что к его точке зрения добавляем еще и пользовательскую/n' +
            'С точки зрения дизайнера/nДумаю он будет счастлив, если сверстать точно по его великолепному макету/n' +
            'С точки зрения верстальщика/nХорошая верстка это когда (в идеале) в начале был стайл гайд, где можно было бы посмотреть часто встречающиеся цвета, кнопки, бордеры, размеры и толщину шрифтов, ховеры и прочее такое и распределить их по переменным и в дальнейшем в проекте пользоваться ими. И если потом вдруг менеджеры, сговорившись с дизайнерами, захотят поменять цвет всех кнопочек, то надо будет менять только в одном месте. Хорошая, если после десктопной версии сразу легко сделать и мобильную, без изменений HTML. Так же очень здорово если классы названы осмысленно, хорошо если по БЭМу. И опять же, как и с переменными, было бы здорово для каких-то общих моментов иметь общие классы/n' +
            'С точки зрения клиентского программиста/n Хорошая, это которая уже все сверстано и готово для прикручивания логики/n' +
            'С точки зрения серверного программиста/n Вижу свои данные с сервера - замечательно!'
        },
        {
            question: 'Опишите основные особенности верстки крупных многостраничных сайтов, дизайн которых может меняться в процессе реализации и поддержки.\n'+
            'Расскажите о своем опыте верстки подобных сайтов: какие методологии, инструменты и технологии вы применяли на практике.',
            answer: 'Ну многое уже написано в точке зрения верстальщика на хорошую верстку.. Чтобы было не сложно переделывать дизайн нужно пользоваться общими переменными, классами и блоками. ' +
            'Я использую препроцессор SCSS, где можно хванить перменные для CSS, классы пишу по методологии БЭМ и для повторяющиеся елементов создаю компоненты, которые можно переиспользовать в разных местах сайта'
        },
        {
            question: 'Опишите основные особенности верстки сайтов, которые должны одинаково хорошо отображаться как на любом современном компьютере, так и на смартфонах и планшетах под управлением iOS и Android. Расскажите о своем опыте верстки подобных сайтов: какие инструменты и технологии вы применяли, как проверяли результат на различных устройствах, какие именно устройства требовалось поддерживать.',
            answer: 'lorem'
        }
    ]

