* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $ff-main;
}

html, body {
  height: 100%;
}

div, ul, li, p, a, img, button, html {
  box-sizing: border-box;
  display: block;
}

h1 {

}

h2 {

}

.container {

}