* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 40px;
  font-family: $ff-main;
  background: url("../img/bgs/Pattern.png");
  color: white;
}

html, body {
  height: 100%;
}

div, ul, li, p, img, button, html, section {
  box-sizing: border-box;
  display: block;
}

h1 {

}

h2 {

}